# Node.js / React related
node_modules/
build/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# AWS SAM build artifacts
.aws-sam/
.sam-*

# Virtual environment
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Logs and misc
logs/
*.log
*.tmp
*.swp
*.swo
*.swn
*.orig
*.bak

# IDE / Editor specific files
.idea/
.vscode/
*.iml

# Operating system-specific files
.DS_Store
Thumbs.db
